<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verify.css')}}">
</head>

<body>
    <br>
    <div class="ui center aligned container">
        <h2 class="ui header">Data Point Verification Wizard</h2>
        <div class="ui three top attached steps">
            <div class="active step" id="top-step-1">
                <i class="align left icon"></i>
                <div class="content">
                    <div class="title">Description</div>
                    <div class="description">See Public Key, Singature, Message</div>
                </div>
            </div>
            <div class="disabled step" id="top-step-2">
                <i class="hashtag icon"></i>
                <div class="content">
                    <div class="title">Hashing</div>
                    <div class="description">Generate or enter your own hash</div>
                </div>
            </div>
            <div class="disabled step" id="top-step-3">
                <i class="university icon"></i>
                <div class="content">
                    <div class="title">Verification</div>
                    <div class="description">Verify the signature</div>
                </div>
            </div>
        </div>
        <div class="ui attached left aligned segment">
            <p>
                <form class="ui form">
                    <div class="field step-1">
                        <label>Data Point - Readings</label>
                        <!-- <input type="text" name="reading" id="reading" placeholder="First Name" disabled> -->
                        <div class="ui raised segment">
                            <pre><code class="code json" id="reading"></code></pre>
                        </div>
                    </div>
                    <div class="field">
                        <label>Full Response</label>
                        <div class="ui styled fluid accordion">
                            <div class="title">
                                <i class="dropdown icon"></i>
                                See the full response (The actual message signed and stored)
                            </div>
                            <div class="content">
                                <pre><code class="code json" id="message"></code></pre>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Public Key</label>
                        <input type="text" name="public_key" placeholder="Public Key" id="public_key" disabled>
                    </div>
                    <div class="field">
                        <label>Singature</label>
                        <input type="text" name="singature" placeholder="Signature" id="signature" disabled>
                    </div>
                    <div class="field step-2">
                        <label>Text</label>
                        <textarea id="input_hash"></textarea>
                    </div>
                    <div class="field step-3">
                        <label>Text</label>
                        <input type="text" name="generated_hash" id="generated_hash">
                    </div>
                    <div class="ui animated blue button step-1" id="step-1-button" tabindex="0">
                        <div class="visible content">Proceed</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated black button step-2" id="step-2-button-b" tabindex="0">
                        <div class="visible content">Go Back</div>
                        <div class="hidden content">
                            <i class="left arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated yellow button step-2" id="step-2-button" tabindex="0">
                        <div class="visible content">Generate Hash</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated black button step-3" id="step-3-button-b" tabindex="0">
                        <div class="visible content">Go Back</div>
                        <div class="hidden content">
                            <i class="left arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated green button step-3" id="step-3-button" tabindex="0">
                        <div class="visible content">Verify</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated black button step-4" id="step-4-button-b" tabindex="0">
                        <div class="visible content">Go Back</div>
                        <div class="hidden content">
                            <i class="left arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated red button" id="step-4-button" tabindex="0">
                        <div class="visible content">Exit</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                </form>
                <div class="ui info message step-1">
                    <div class="header">
                        The following are needed for verifying a reading:
                    </div>
                    <ul class="list">
                        <li><strong> Message Hash:</strong> The hashed (using SHA3-256) message which represents actual readings and is signed by private key of the IoT node. The hash is generated by encrypting the full response.</li>
                        <li><strong>Public Key:</strong> The corressponding public key of the IoT node.</li>
                        <li><strong>Signature:</strong> The signature generated after the encoded message is signed by the private key.</li>
                    </ul>
                </div>
                <div class="ui info message step-2">
                    <div class="header">
                        This is how the hash is generated:
                    </div>
                    <ul class="list">
                        <li>The full message is converted to binary before being encrypted by SHA-3 256.</li>
                        <li>You can use an external tool to generate this hash, or use the one provided here. Either way proceed to next step to generate/enter the hash.</li>
                    </ul>
                </div>
                <div class="ui icon info message step-3">
                    <i class="exclamation icon"></i>
                    <div class="content">
                        <div class="header">
                            Note:
                        </div>
                        The hash visible in the field <em>Message Hash</em> is the hash generated using SmartME APIs. It is an editable field, and you may enter your own hash generated from an independent source.
                    </div>
                </div>
                <div class="ui icon success message" id="success">
                    <i class="check circle outline icon"></i>
                    <div class="content">
                        <div class="header">
                            Success!!
                        </div>
                        The verification of the reading was successful against the public key and signature!
                    </div>
                </div>
                <div class="ui icon negative message" id="failure">
                    <i class="frown outline icon"></i>
                    <div class="content">
                        <div class="header">
                            Failure!!
                        </div>
                        The verification of the reading has failed against the public key and signature!
                    </div>
                </div>

            </p>
        </div>
    </div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/verify.js')}}">
</script>

</html>