<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verify.css')}}">
</head>

<body>
    <br>
    <div class="ui center aligned container">
        <h2 class="ui header">Data Point Verification Wizard</h2>
        <div class="ui three top attached steps">
            <div class="active step" id="top-step-1">
                <i class="align left icon"></i>
                <div class="content">
                    <div class="title">Description</div>
                    <div class="description">See Public Key, Singature, Message</div>
                </div>
            </div>
            <div class="disabled step" id="top-step-2">
                <i class="hashtag icon"></i>
                <div class="content">
                    <div class="title">Hashing</div>
                    <div class="description">Generate or enter your own hash</div>
                </div>
            </div>
            <div class="disabled step" id="top-step-3">
                <i class="university icon"></i>
                <div class="content">
                    <div class="title">Verification</div>
                    <div class="description">Verify the signature</div>
                </div>
            </div>
        </div>
        <div class="ui attached left aligned segment">
            <p>
                <form class="ui form">
                    <div class="field step-1">
                        <label>Data Point - Readings</label>
                        <!-- <input type="text" name="reading" id="reading" placeholder="First Name" disabled> -->
                        <div class="ui raised segment">
                            <pre><code class="code json" id="reading"></code></pre>
                        </div>
                    </div>
                    <div class="field">
                        <label>Full Response</label>
                        <div class="ui styled fluid accordion">
                            <div class="title">
                                <i class="dropdown icon"></i>
                                See the full response (The actual message signed and stored)
                            </div>
                            <div class="content">
                                <pre><code class="code json" id="message"></code></pre>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Public Key</label>
                        <input type="text" name="public_key" placeholder="Public Key" id="public_key" disabled>
                    </div>
                    <div class="field">
                        <label>Singature</label>
                        <input type="text" name="singature" placeholder="Signature" id="signature" disabled>
                    </div>
                    <div class="field step-2">
                        <label>Text</label>
                        <textarea id="input_hash"></textarea>
                    </div>
                    <div class="field step-3">
                        <label>Text</label>
                        <input type="text" name="generated_hash" id="generated_hash">
                    </div>
                    <div class="ui animated blue button step-1" id="step-1-button" tabindex="0">
                        <div class="visible content">Proceed</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated black button step-2" id="step-2-button-b" tabindex="0">
                        <div class="visible content">Go Back</div>
                        <div class="hidden content">
                            <i class="left arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated yellow button step-2" id="step-2-button" tabindex="0">
                        <div class="visible content">Generate Hash</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated black button step-3" id="step-3-button-b" tabindex="0">
                        <div class="visible content">Go Back</div>
                        <div class="hidden content">
                            <i class="left arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated green button step-3" id="step-3-button" tabindex="0">
                        <div class="visible content">Verify</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated black button step-4" id="step-4-button-b" tabindex="0">
                        <div class="visible content">Go Back</div>
                        <div class="hidden content">
                            <i class="left arrow icon"></i>
                        </div>
                    </div>
                    <div class="ui animated red button" id="step-4-button" tabindex="0">
                        <div class="visible content">Exit</div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                </form>
                <div class="ui info message step-1">
                    <div class="header">
                        The following are needed for verifying a reading:
                    </div>
                    <ul class="list">
                        <li><strong> Message Hash:</strong> The hashed (using SHA3-256) message which represents actual readings and is signed by private key of the IoT node. The hash is generated by encrypting the full response.</li>
                        <li><strong>Public Key:</strong> The corressponding public key of the IoT node.</li>
                        <li><strong>Signature:</strong> The signature generated after the encoded message is signed by the private key.</li>
                    </ul>
                </div>
                <div class="ui info message step-2">
                    <div class="header">
                        This is how the hash is generated:
                    </div>
                    <ul class="list">
                        <li>The full message is converted to binary before being encrypted by SHA-3 256.</li>
                        <li>You can use an external tool to generate this hash, or use the one provided here. Either way proceed to next step to generate/enter the hash.</li>
                    </ul>
                </div>
                <div class="ui icon info message step-3">
                    <i class="exclamation icon"></i>
                    <div class="content">
                        <div class="header">
                            Note:
                        </div>
                        The hash visible in the field <em>Message Hash</em> is the hash generated using SmartME APIs. It is an editable field, and you may enter your own hash generated from an independent source.
                    </div>
                </div>
                <div class="ui icon success message" id="success">
                    <i class="check circle outline icon"></i>
                    <div class="content">
                        <div class="header">
                            Success!!
                        </div>
                        The verification of the reading was successful against the public key and signature!
                    </div>
                </div>
                <div class="ui icon negative message" id="failure">
                    <i class="frown outline icon"></i>
                    <div class="content">
                        <div class="header">
                            Failure!!
                        </div>
                        The verification of the reading has failed against the public key and signature!
                    </div>
                </div>

            </p>
        </div>
    </div>

</body>
<script>

var id = getParameterByName('id');
$.getJSON("http://localhost:5000/verify/" + id, function(data) {
    console.log(data['reading']);
    // JSON.stringify(jsObj, null, "\t");
    $('#reading').append(JSON.stringify(JSON.parse(data['reading']), null, "\t"));
    // readingFormatter(data['reading']);
    // console.log(data['message']);
    $('#message').append(data['message']);
    $('#input_hash').val(data['message']);
    $('#public_key').val(data['public_key']);
    $('#signature').val(data['signature']);
    hljs.initHighlightingOnLoad();

});
$('.ui.accordion')
    .accordion();
console.log($('#input_hash').val())
$.ajax({
    url: "http://localhost:5000/hash",
    type: 'POST',
    dataType: 'text',
    data: $('#input_hash').val(),
    success: function(response) {
        $('#generated_hash').val(response);
    }
});
var step = 1;
topStep1 = $("#top-step-1");
topStep2 = $("#top-step-2");
topStep3 = $("#top-step-3");

function readingFormatter(reading) {
    console.log(reading['altitude']);
}

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

function syncSteps() {

    if (step == 1) {
        $(".step-2").hide(400);
        $(".step-1").show(400);
        $(".step-3").hide();
        $(".step-4").hide();
        $("#success").hide();
        $("#failure").hide();
    } else if (step == 2) {
        $(".step-1").hide(400);
        $(".step-2").show(400);
        $(".step-3").hide(400);
        topStep2.toggleClass("active");
        if (topStep2.hasClass("disabled")) {
            topStep2.removeClass("disabled");
            // if(!topStep1.hasClass("disabled")) {
            // topStep1.addClass("disabled");
            // }
            if (!topStep3.hasClass("disabled")) {
                topStep3.addClass("disabled");
            }
        }
    } else if (step == 3) {
        $(".step-2").hide(400);
        $(".step-3").show(400);
        $(".step-4").hide(400);
        topStep3.toggleClass("active");
        $("#success").hide();
        $("#failure").hide();
        if (topStep3.hasClass("disabled")) {
            topStep3.removeClass("disabled");
        }
    } else if (step == 4) {
        $(".step-3").hide(400);
        $(".step-4").show(400);

    }
}

syncSteps();
$('#step-1-button').on('click', function() {
    step = 2;
    topStep1.removeClass('active');
    topStep1.addClass('completed');
    syncSteps();
});
$('#step-2-button-b').on('click', function() {
    step = 1;
    topStep2.removeClass('active');
    topStep2.addClass('disabled');
    topStep1.removeClass('completed');
    syncSteps();
});
$('#step-2-button').on('click', function() {
    step = 3;
    topStep2.removeClass('active');
    topStep2.addClass('completed');
    console.log($('#input_hash').val())
    $.ajax({
        url: "http://localhost:5000/hash",
        type: 'POST',
        dataType: 'text',
        data: $('#input_hash').val(),
        success: function(response) {
            $('#generated_hash').val(response);
            console.log(response);
        }
    });
    syncSteps();

});
$('#step-3-button-b').on('click', function() {
    step = 2;
    topStep3.removeClass('active');
    topStep3.addClass('disabled');
    topStep2.removeClass('completed');
    syncSteps();
});
$('#step-3-button').on('click', function() {
    step = 4;
    var dataObject = {
        "message": $('#input_hash').val(),
        "hash": $('#generated_hash').val(),
        "public_key": $('#public_key').val(),
        "signature": $('#signature').val()
    }
    $.ajax({
        url: "http://212.189.207.119/bdb/verify/signature",
        type: 'POST',
        dataType: 'json',
        data: JSON.stringify(dataObject),
        success: function(data) {
            console.log(data);
            if (data['result'] == true) {
                topStep3.removeClass('active');
                topStep3.addClass('completed');
                $('#success').show();
            } else {
                $("#failure").show();
            }
        }
    });
    // topStep2.removeClass('completed');
    syncSteps();
});
$('#step-4-button-b').on('click', function() {
    step = 3;
    topStep3.addClass('active');
    topStep3.removeClass('completed');
    syncSteps();
});
$('#step-4-button').on('click', function() {
    location.reload();
});
</script>

</html>