<html>
    <head>
        <title>Verify Data Point</title>
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    </head>
    <body>
        Verification page.
        <div class="main-content">
            <b>Reading:</b>
            <div id="reading">
            </div>
            <b>Message:</b>
            <div id="message"></div>
            <b>Public Key</b>
            <div id="public_key"></div>
            <b>Signature</b>
            <div id="signature"></div>
        </div>
    </body>
    <script>
        $.getJSON("http://localhost:5000/verify/6147b49e1e8bd2163c80dd1a55e83da7cb6634c33323600cf8676b99af415c96", function(data){
            console.log(data['reading']);
            $('#reading').append(data['reading']);
            $('#message').append(data['message']);
            $('#public_key').append(data['public_key']);
            $('#signature').append(data['signature']);


        })
    </script>
</html>